.login-container {
  background-color: transparent; /* o eliminá esta línea si había blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-logo {
  width: 200px;
  margin-bottom: 20px;
}

 .login-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}
  
 .login-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
  
  .login-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
  
  .login-button {
  padding: 10px;
  background-color: #0077cc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
  .login-button:hover {
  background-color: #005fa3;
}

body {
  background: linear-gradient(135deg, #e8f5e9, #b2dfdb); /* verde claro hacia verde agua */
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

  